<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>18G87</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>rom</string>
				<string>ri</string>
				<string>mx1</string>
				<string>mx2</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>CartridgeDocument</string>
			<key>CFBundleTypeName</key>
			<string>MSX Cartridge</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.luegolu3go.brunixmac.filetype.cartridge</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>dsk</string>
				<string>di1</string>
				<string>di2</string>
				<string>360</string>
				<string>720</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>DiskDocument</string>
			<key>CFBundleTypeName</key>
			<string>MSX Disk</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.luegolu3go.brunixmac.filetype.disk</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>cas</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>CassetteDocument</string>
			<key>CFBundleTypeName</key>
			<string>MSX Cassette</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.luegolu3go.brunixmac.filetype.cassette</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>sta</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>SnapshotDocument</string>
			<key>CFBundleTypeName</key>
			<string>Brunix Mac Snapshot</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.luegolu3go.brunixmac.filetype.savestate</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>BrunixMac</string>
	<key>CFBundleIconFile</key>
	<string>brunix</string>
	<key>CFBundleIdentifier</key>
	<string>com.luegolu3go.BrunixMac</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>BrunixMac</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.295321619186-fj65ujkjbm3qq62dhjrkrsap9vd6oaj2</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>25</string>
	<key>CMMachineFeedURL</key>
	<string></string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>11B53</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>19B89</string>
	<key>DTSDKName</key>
	<string>macosx10.15</string>
	<key>DTXcode</key>
	<string>1120</string>
	<key>DTXcodeBuild</key>
	<string>11B53</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.entertainment</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.11</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>SUFeedURL</key>
	<string></string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>MSX Cartridge</string>
			<key>UTTypeIconFile</key>
			<string>CartridgeDocument</string>
			<key>UTTypeIdentifier</key>
			<string>com.luegolu3go.brunixmac.filetype.cartridge</string>
			<key>UTTypeReferenceURL</key>
			<string></string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>rom</string>
					<string>ri</string>
					<string>mx1</string>
					<string>mx2</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>MSX Disk</string>
			<key>UTTypeIconFile</key>
			<string>DiskDocument</string>
			<key>UTTypeIdentifier</key>
			<string>com.luegolu3go.brunixmac.filetype.disk</string>
			<key>UTTypeReferenceURL</key>
			<string></string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>dsk</string>
					<string>di1</string>
					<string>di2</string>
					<string>360</string>
					<string>720</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>MSX Cassette</string>
			<key>UTTypeIconFile</key>
			<string>CassetteDocument</string>
			<key>UTTypeIdentifier</key>
			<string>com.luegolu3go.brunixmac.filetype.cassette</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>cas</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>MSX Snapshot</string>
			<key>UTTypeIconFile</key>
			<string>SnapshotDocument</string>
			<key>UTTypeIdentifier</key>
			<string>com.luegolu3go.brunixmac.filetype.savestate</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>sta</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
